<div class="card">
  <div class="card-body">
    <h2 class="card-title">Name: {{name}}</h2>
    <p class="card-text">Height:{{size}}</p>
    <p class="card-text">flavors: 
      <ul class="list-group"></ul>
      {{#each flavors}}
      
        <li class="list-group-item">{{flavor.name}}</li>
      
      {{/each}}
      </ul>
    </p>
  </div>
</div>